body {
    margin: 0;
    background: powderblue;
  }
  h1 {
    background: black;
    color: white;
    text-align: center;
    margin: 0;
  }
  ul li{
    color: violet;
  }
  ul li:last-child{
    color: orange;
  }